body {
    background-color: #5dc1b9;
}

#app-content {
    margin-top: 20px;
}

.card:hover {
    background-color: #f8e60b;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-link {

    color: #000;
    text-decoration: none;
}

.card-link:hover {
    color: #774000;
}